<h1 class="mb-4">New Place</h1>

<% if current_user.nil? %>
  <div class="alert alert-warning">
    You must first <a href="/login" class="btn btn-info btn-sm">log in</a> to post.
  </div>
<% else %>
  <%= form_with url: "/places", local: true do %>
    <div class="mb-3">
      <label for="name_input" class="form-label">Name</label>
      <%= text_field_tag :name, nil, class: "form-control", id: "name_input" %>
    </div>

    <%= submit_tag "Save", class: "btn btn-success" %>
  <% end %>
<% end %>
